div {
    background-color: hsl(0, 0%, 26%);
    color: hsl(0, 0%, 100%);
    display: block;
    width: 200px;
    height: 120px;
    overflow: auto;
    padding: 10px;
    border: solid 2px black;
    margin: 15px;
    box-sizing: border-box;
}

#a{
    background-color: red;
    position: sticky;
    top: 0px;
    left: 0px;
}

#b{
    background-color: green;
   
}

#c{
    background-color: blue;
}